flask
flask_cors
transformers
pandas
numpy
matplotlib
seaborn
python-docx
openpyxl
scikit-learn
gunicorn
kneed
google-generativeai
python-dotenv
Flask
flask-cors
pandas
numpy
transformers
torch
requests
matplotlib
seaborn
python-docx
google-generativeai
python-dotenv
